{% extends "bootstrap/base.html" %}

{% block title %}
SayHello
{% endblock %}

{% block styles %}
<link rel="shortcut icon" href="{{ url_for('static',filename='img/sayhello.ico') }}">
<link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
{% endblock styles %}

{% block content %}
<div class="container">
    <div row="row">
        <div class="col-md-8 col-md-offset-2">
            {% block app_content %}

            {% endblock %}
            <br>
            <p class="text-center">@2020 SayHello by JerryZhao</p>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{{ moment.lang("zh-CN") }}

{% endblock %}



